.settings-section {
    display: flex;
    align-content: center;
    align-items: center;
    margin: 10px 0;
  }
  
  .settings-control {
    margin: 0 10px;
  }
  
  .full-width {
    width: 100%;
  }