<app-topmenu>
  <div buttons>
    <button mat-flat-button type="button" color="primary" (click)="save()" [disabled]="!(form?.dirty)">Save</button>
  </div>
</app-topmenu>
<div class="loading-shade" *ngIf="saving">
  <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
</div>
<div *ngIf="form">
  <form [formGroup]="form">
    <section class="settings-section">
      <mat-form-field style="width: 700px" appearance="outline">
        <mat-label>WorldCat API Key: </mat-label> 
        <textarea matInput formControlName="wckey"></textarea>
      </mat-form-field>
    </section>
    <section class="settings-section">
      <mat-checkbox formControlName="pinyinonly">Chinese Pinyin Mode</mat-checkbox>    
    </section>
    <div *ngIf="admin|async">
    <section class="settings-section">
      <mat-checkbox formControlName="adminWC">Set WC Key for all users (Admin only)</mat-checkbox>  
    </section>
    </div>
  </form>
</div>