.settings-section {
    display: flex;
    align-content: center;
    align-items: center;
    margin: 10px 0;
  }

  mat-form-field {
    width: 725px
  }
  
  .settings-control {
    margin: 0 10px;
  }
  
  .full-width {
    width: 100%;
  }
  
  .delete-icon {
    transform: scale(0.5);
    vertical-align: middle;
    cursor: pointer;
  }

  .preSearchTag {
    border: solid 0.5px gray;
    padding: 5px;
    margin: 5px;
  }