.settings-section {
    display: flex;
    align-content: center;
    align-items: center;
    margin: 10px 0;
  }

  mat-form-field {
    width: 725px
  }
  
  .settings-control {
    margin: 0 10px;
  }
  
  .full-width {
    width: 100%;
  }

  .notice {
    font-size: 110%;
    font-weight: bold;
    font-style: italic;
  }
  
  .hiddenField {
    visibility: hidden;
    display: block;
    height: 0;
    width: 0;
  }

  .delete-icon {
    transform: scale(0.5);
    vertical-align: middle;
    cursor: pointer;
  }

  .preSearchTag {
    border: solid 0.5px gray;
    padding: 5px;
    margin: 5px;
  }