<section>
  <div class="statusString">{{statusString}}</div>
  <div class="loading-shade" *ngIf="loading">
    <mat-progress-spinner mode="determinate" diameter="50" value={{searchProgress}}>
    </mat-progress-spinner>
  </div>
  <div class="loading-shade" *ngIf="saving">
    <mat-progress-spinner mode="indeterminate" diameter="50">
    </mat-progress-spinner>
  </div>
  <mat-card>
    <mat-card-content>
      <div>
        <table class="marc">
           <tr *ngFor="let field of fieldTable | keyvalue" 
              [ngStyle]="{'background-color': generateBGColor(field.value.getSubfield('61'))}">
              <td *ngIf="field.value.hasParallel; else addBlock">
                <div *ngIf="showDetails != field.key; else detailsButtonBlock">
                <button mat-stroked-button color="secondary" [matMenuTriggerFor]="fieldOptions" [disabled]="showDetails == field.key">
                  <mat-icon>more_horiz</mat-icon>                
                </button>
                <mat-menu #fieldOptions="matMenu">
                  <!--
                    <button mat-menu-item [routerLink]="['detail', bib.mms_id, field.key]">
                  -->
                  <button mat-menu-item (click)="lookupSubfields(field.key);showDetails = field.key">
                    <mat-icon>edit</mat-icon>edit
                  </button>
                  <button mat-menu-item (click)="swapField(field.key)">
                    <mat-icon>swap_vert</mat-icon>swap
                  </button>
                  <button mat-menu-item (click)="deleteField(field.key)">
                    <mat-icon>delete</mat-icon>delete
                  </button>
                </mat-menu>
                </div>
                <ng-template #detailsButtonBlock>
                  <div>
                  <button mat-stroked-button color="secondary" (click)="showDetails=''">
                    <mat-icon>done</mat-icon>
                  </button>
                </div>
                <div>                  
                </div><div>
                  <button mat-stroked-button color="secondary" (click)="showDetails=''">
                   <mat-icon>close</mat-icon>
                 </button>
                </div>
                </ng-template>
              </td>
              <ng-template #addBlock>
              <td>
                <button mat-stroked-button color="secondary" (click)="lookupField(field.key)">
                  <mat-icon>add</mat-icon>
                </button>
              </td>
              </ng-template>
              <!--<td>{{field.key}}</td>-->
              <td>{{field.value.tag}}</td>
              <td>{{field.value.ind1}}</td>
              <td>{{field.value.ind2}}</td>
              <td class="mainContent">
              <div *ngIf="showDetails != field.key; else detailsFormBlock">
                {{field.value.getSubfieldString()}}
              </div>
              <ng-template #detailsFormBlock>                 
                <table class='parallelOptions' style="width: 100%">
                  <div *ngFor="let subfield of field.value.subfields; index as i;">
                      <!--<span *ngIf="subfield.code!='6' && subfield.code!='0'">-->
                      <tr *ngIf="subfield.code!='6' && subfield.code!='0'">  
                        <td>${{subfield.code}}</td>                        
                        <td style="width: 150px"><button mat-stroked-button color="secondary" [matMenuTriggerFor]="options"
                          [disabled]="subfield_options.get(field.key).get(subfield.id).length == 1">
                          <mat-icon>translate</mat-icon>
                        </button>
                        <mat-menu #options="matMenu">
                          <button mat-menu-item *ngFor="let lookup_value of subfield_options.get(field.key).get(subfield.id)"
                             (click)="sf.value = lookup_value">
                               {{lookup_value}}
                          </button>
                        </mat-menu>
                        <!--
                        <button mat-stroked-button color="secondary">
                          <mat-icon>thumb_up</mat-icon>
                        </button>
                      -->
                        <button mat-stroked-button color="secondary" [disabled]="subfield_options.get(field.key).get(subfield.id).length == 1">
                          <mat-icon>thumb_down</mat-icon>
                        </button>
                      </td>                                                                             
                      <td style="width: 80%">
                          <textarea style="width: 100%" 
                            matInput cdkTextareaAutosize #sf>{{subfield.data}}</textarea>                                                 
                        </td>
                      </tr>
                     <!-- </span> -->
                    </div>
                  </table>
                </ng-template>
              </td>
            </tr>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
</section>
