<button mat-raised-button routerLink="../../.." [queryParams]="{doSearch: false}">&lt; View full record</button>
<table class="marc">
    <tr><td colspan='4'><span class='tablehead'>Original Field:</span></td></tr>
    <tr>
        <td>{{main_field.tag}}</td>
        <td>{{main_field.ind1}}</td>
        <td>{{main_field.ind2}}</td>
        <td>{{main_field.getSubfieldString()}}</td>
    </tr>
</table>
<table  *ngIf="parallel_field.getSubfieldString()!=''">
    <tr><td colspan='4'><span class='tablehead'>Parallel Field:</span></td></tr>
    <tr>
        <td>{{parallel_field.tag}}</td>
        <td>{{parallel_field.ind1}}</td>
        <td>{{parallel_field.ind2}}</td>
        <td>{{parallel_field.getSubfieldString()}}</td>
    </tr>
</table>
<div class='tablehead'>Subfields</div>
<form autocomplete="off">
<table #parallelOptions>
    <div *ngFor="let subfield of main_field.subfields; index as i;">
        <span *ngIf="subfield.code!='6' && subfield.code!='0'">
        <tr>
          <td width=5>${{subfield.code}}</td>
          <td>{{subfield.data}}</td>
        </tr><tr>
          <td width=5>
              <button mat-raised-button [matMenuTriggerFor]="options"><mat-icon>more_horiz</mat-icon></button>
         </td><td>
            <input #sf [size]="subfield.data.length*3" maxlength="100" type="text" [id]="'input-'+subfield.id" [name]="'list-'+subfield.id" [attr.list]="'list-'+subfield.id" [value]="lookup_fields.get(subfield.id)[0]">
            <mat-menu #options="matMenu">
                <button mat-menu-item *ngFor="let lookup_value of lookup_fields.get(subfield.id)"
                    (click)="sf.value = lookup_value">
                    {{lookup_value}}
                </button>
            </mat-menu>
          </td>
        </tr></span>
    </div>
</table>
<button mat-raised-button (click)="flipFields()">Swap text in original and 880</button><br/>
<br/>
<button mat-raised-button (click)="saveField()">Save Record</button>
</form>